.card-load {
    display : grid;
    gap: 15px;
    margin: 2% 10% ;
    padding: 10px;
    border-radius: 20px;
    box-shadow: black 0px 0px 20px;
    width: 30%;
    background-color: white;
    color: #093b3c;
    .file-drop {
        box-sizing: border-box;
        &:hover {
            background-color: #d4ebe9;
            border: 2px solid #b1d9d5;
        }
        display: flex;
        min-height: 100px;
        align-items: center;
        justify-content: center;
        border: 1px solid #b1d9d5;
        background-color: #f2f7f6;
        border-radius: 10px;
        gap: 5px;
        
        mat-icon {
            width: 60px;
            height: 60px;
            font-size: 3.5rem;
            color: #197d71;
        }
    }

    .file-list{
        min-height: 50px;
        border: 1px solid #b1d9d5;
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow: scroll;
        gap: 5px;
        mat-progress-spinner {
            stroke :#0f5051 !important;
            margin: 0 auto;
        };
        .file-item{
            border: 1px solid #daefed;
            display: flex;

            justify-content: center;
            width: 100%;
            height: 50px;
            background-color:  #f7fbfa;
            align-items: center;
            justify-content: space-between;
        }
    }

    .button-container{

        // padding: 15px;
        width: 80%;
        gap: 20px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        margin-top: 10px;
        button{
            background-color: #0f5051;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 10px;
            font-size: 1.8rem;
            font-weight: 300;
            cursor: pointer;
            &:hover{
                background-color: #197d71;
            }
        }
    }
}