
.footer{
    nav {
        ul{
            margin: 10px 50px 10px 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                margin: 0 10px 0 10px;
                list-style: none;
                color: white;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    p{
        margin: auto 0;
        text-align: center;
    }
}